body {
    min-height: 100vh;
    background-color: #087099;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

body>header {
    width: 100%;
    background-color: #0092CC;
    -webkit-box-shadow: 2px 6px 5px 0px rgba(0, 0, 0, 0.3);
    padding: 0.5rem 1rem;
}

main {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 0.5rem 1rem;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.search {
    width: 100%;
    background-color: #0092CC;
    border-radius: 10px 10px 0 0;
    display: flex;
    padding: 0.5rem 1rem;
    gap: 15px;
    justify-content: center;
    align-items: center;

    & input {
        width: 70%;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        outline: none;
        border: none;
        color: #000;
        font-family: 'Segoe UI', sans-serif;
        transition: all 0.3s ease-in-out;
    }

    & input:hover, input:focus {
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    }

    & button {
        width: 10%;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        background-color: #087099;
        border: none;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    & button:hover {
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    }
}

.searched-states {
    position: absolute;
    width: 70%;
    display: none;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    margin: 0 auto;
    min-height: 0;
    overflow-y: auto;
    background-color: #087099;
    border: #0092CC 5px solid;
    transition: all 0.5s ease-in-out;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.searched-states .item {
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    transition: all 0.1s ease-in-out;
    border: transparent 1px solid;

    & button {
        width: 80%;
        font-size: 1.5rem;
        padding: 0.5rem 1rem;
        text-align: start;
        cursor: pointer;
        outline: none;
        border: none;
        background-color: transparent;
        
    }

    & p {
        display: flex;
        width: 20%;
        align-items: center;
        text-align: start;
    }

    &.item:hover {
        background-color: #0092CC;
        border: #087099 1px solid;
    }
}

.active-searched {
    display: flex;
    min-height: auto;
    transition: all 0.5s ease-in-out;
}

.results {
    flex: 1;
    display: flex;
}

.search-result {
    width: 70%;
    padding: 1rem;
}

.degree-now{
    width: 100%;
    display: flex;
    justify-content: start;
    font-size: 3rem;
    font-family: 'Segoe UI', sans-serif;
    align-items: center;
    color: #000;
}

.description {
    width: 100%;
    display: flex;
    justify-content: start;
    font-size: 1.25rem;
    font-family: 'Segoe UI', sans-serif;
    align-items: center;
    color: #000;
}

.history {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 30%;
    border: #0092CC 3px solid;
}


.future-weather {
    display: flex;
    width: 100%;
    margin-top: 25px;
    gap: 10px;
    flex-wrap: wrap;
}

.hourly-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 1rem;
    border: #0092CC 1px solid;
    border-radius: 10px;
   
    & .hour, 
      .degree {
        color: #000; 
         font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
    }
}

.history-item {
    width: 100%;
    outline: none;
    border: none;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 5rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    & p {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: #000;
        transition: color 0.3s ease-in-out;
    }

    &:hover {
        background-color: #0092CC;
        color: #fff !important;

        & p {
            color: #fff;
        }
    }


}